DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=цветы.online,xn--b1ag3bn2a.online,www.цветы.online,www.xn--b1ag3bn2a.online
DJANGO_CSRF_TRUSTED_ORIGINS=https://цветы.online,https://xn--b1ag3bn2a.online,https://www.цветы.online,https://www.xn--b1ag3bn2a.online
SITE_URL=https://цветы.online
DATABASE_URL=postgres://atrium_user:STRONG_PASSWORD@127.0.0.1:5432/atrium
TG_BOT_TOKEN=
TG_ADMIN_IDS=
TG_SUPPORT_USERNAME=your_username
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_WEBHOOK_SECRET=
